<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a mat-list-item
      routerLink="/dashboard">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    <a  mat-list-item
        type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
          Social Media
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
           
            <li>
              <a
                routerLink="/">
                  <mat-icon class="icon">home</mat-icon>
                  <span class="label">Home</span>
              </a>
            </li>
            <li>
              <a
                routerLink="/dashboard">
                  <mat-icon class="icon">About</mat-icon>
                  <span class="label">About Us</span>
              </a>
            </li>    
            <li>
              <a
                routerLink="/add">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">NewPost</span>
               </a>
          </li>     
            <li>
              <a
                routerLink="/view">
                  <mat-icon class="icon">view</mat-icon>
                  <span class="label">ViewPost</span>
              </a>
            </li>
            <li>
              <a
                routerLink="user">
                  <mat-icon class="icon">Users</mat-icon>
                  <span class="label">Users</span>
              </a>
            </li>
            <li>
              <a
              routerLink="/login">
                <mat-icon class="icon">input</mat-icon>
                <span  class="label">Login</span>
               </a>
          </li>
           
            <!-- <li>
                <a
                routerLink="/Signup">
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">Signup</span>
                 </a>
            </li> -->
           
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>