<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NFT Landing page - FantacyDesigns </title>
  <link rel="stylesheet" href="welcome.component.css">

</head>

<body>

  <div class="landingpage">

    <div class="box">
      <div class="infobox">
        <p class="infobox-boldtext">
        Useful & Enjoyable & Inspired = Innovative Content.
        </p>
        <p class="infobox-slimtext">
          “Read quality, all the time, every day. Then write. And make sure you’re writing something that – even just a little bit – is different from something anybody else has ever written. Or you say something in a different way.” 
        </p>
        <div class="infobox-btnwrapper">
          <button class="infobox-explorebtn selected" style="width: 200px;">
            <a
            routerLink="/login">
              <span class="label" style="color: white; font-weight: bolder; font-size: larger;">Explore</span>
          </a></button>
          
        </div>
      </div>
      <div class="display">
        <img class="display-nft"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          border="0">
        <div class="infowrapper">
         
          <div class="info2">
          
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="footer">
      <div class="footer-main">

      </div>
      <div class="footer-navigate">
        <div class="nav">
         
        </div>
        <div class="nav">
         
        </div>
        <div class="nav">
       
      </div>
    </div>

