 <!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <link rel="stylesheet" href="dashboard.component.css"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-sclae=1.0">
 
 
  </head>
  <body>
      <div class="about-section">
        <div class="inner-width">
          <h1>About Us</h1>
          <div class="border"></div>
          <div class="about-section-row">
            <div class="about-section-col">
              <div class="about">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga provident ea hic, neque amet sequi temporibus iure aliquid placeat inventore. Quae dolores dolore, cum nulla quas ipsum facere maxime, necessitatibus!
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
            <div class="about-section-col">
              <div class="skills">
                <div class="skill">
                  <div class="title">Web Develpor</div>
                  <div class="progress">
                    <div class="progress-bar p1"><span>90%</span></div>
                  </div>
                </div>
 
                <div class="skill">
                  <div class="title">UI Design</div>
                  <div class="progress">
                    <div class="progress-bar p2"><span>70%</span></div>
                  </div>
                </div>
 
                <div class="skill">
                  <div class="title">UX Design</div>
                  <div class="progress">
                    <div class="progress-bar p3"><span>50%</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>  -->
  
<!-- 
<head>
  <meta charset="utf-8">
  <title>FantacyDesigns | Bouncing Ball </title>
  <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
Share Your post to your friends and and families




  <div class="fall">

  <div class="walls">
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>


    <h1> Wellcome to new generation social media app</h1>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
  </div>

  <div class="ballArm">
    <div class="ball"></div>
  </div>
</div>

</body> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FantacyDesigns | Bouncing Ball </title>
    <link rel="stylesheet" href="dashboard.component.css">
  </head>
  <body>
    <div class="fall">
 
    <div class="walls">
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>

      
     
          <link rel="stylesheet" href="dashboard.component.css">
      
      
        <body>
     
        <main class="page-content">
       
          <div class="card">
            <div class="content">
              <a
              routerLink="/add">
              
              <h2 class="title">Post</h2>
              <p class="copy">Let people know what u feel</p>
              <button class="btn">Lets go</button></a>

             
            </div>
          </div>
          <div class="card">
              
            <div class="content">
              <a
              routerLink="/add">
              <h2 class="title">Achievement</h2>
              <p class="copy">Share Your Achivements </p>
              <button class="btn">ADD </button></a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <a
              routerLink="/add">
              <h2 class="title">Share Destinations You Visited</h2>
              <p class="copy">It's the desert you've always dreamed of</p>
              <button class="btn">Share Snap</button></a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <a
              routerLink="/add">
              <h2 class="title">Explore</h2>
              <p class="copy">Seriously, straight up, just blast off into outer space today</p>
              <button class="btn">Vist</button></a>
            </div>
          </div>
        </main>
        </body>
   
       
 


      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
      <div class="wall"><div class="top"></div><div class="bottom"></div><div class="left"></div><div class="right"></div><div class="ceil"></div></div>
    </div>
 
    <div class="ballArm">
      <div class="ball"></div>
    </div>
  </div>


